[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.1.7"
psycopg2 = "==2.8.6"
python-dotenv = "*"
uvicorn = {extras = ["standard"],version = "*"}
gunicorn = "*"
celery = "==5.0.5"
django-celery-results = "==2.0.1"
redis = "*"
graphene-django = "*"
djangorestframework = "*"

[requires]
python_version = "3.9"
