<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div id="react_renderer"></div>
</body>

<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/highcharts/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='dist/Vis.js') }} "></script>
</html>